# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore IDE-specific files
.idea/
*.iml
*.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Maven-specific files
.mvn/
mvnw
mvnw.cmd
# Ignore log and output files
*.log
/logs/
*.out
*.err
# Ceci est un test